name: Atualização do ambiente de homologação com rebase
on:
  push:
    branches:
      - main
jobs:
  atualizacao_homologation:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Configurar o usuário e email do Git
        run: |
          git config --global user.email "cleytongama@gmail.com"
          git config --global user.name "Cleyton Gama"
      - name: Atualizar o ambiente de homologação com as alterações de produção
        run: |
          git fetch --all
          git checkout develop
          git reset --hard origin/develop
          git checkout main
          git reset --hard origin/main
          git checkout develop
          git rebase main --strategy-option ours 
          git push origin +develop

        working-directory: .
      - name: Realizar commit e push das alterações no ambiente de homologação
        uses: EndBug/add-and-commit@v7
        with:
          message: "Atualização do ambiente de homologação com as alterações de produção"
          author_name: "Github Actions"
          author_email: "actions@github.com"
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          GIT_AUTHOR_NAME: "Cleyton Gama"
          GIT_AUTHOR_EMAIL: cleytongama@gmail.com
          GIT_COMMITTER_NAME: "Cleyton Gama"
          GIT_COMMITTER_EMAIL: cleytongama@gmail.com
